.polka-bg {
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 1.2px, transparent 1.2px),
    radial-gradient(#444cf7 1.2px, var(--bg-color) 1.2px);
  background-size: 25px 25px;
  background-position: 0 0, 10px 10px;
  z-index: -1;

  mask-image: linear-gradient(180deg, rgb(0 0 0), transparent 99%);
}
