<footer
  class="container flex sm:flex-row flex-col justify-between items-center mb-8 sm:mb-4"
>
  <p class="dark:text-light text-right my-8">
    Copyright (c) 2023 <strong>Manuel Gil</strong>
  </p>
</footer>
