---
import Wave from '@components/icons/Wave.astro';
---

<header
  class="container flex items-center justify-between h-[80px] sm:h-[123px]"
>
  <a
    class="text-2xl dark:text-light font-semibold dark:font-semibold font-outfit"
    href="/"
  >
    MG
  </a>
  <nav>
    <ul class="flex items-center">
      <li>
        <a
          aria-label="Social Media"
          href="https://www.linkedin.com/in/imgildev/"
          target="_blank"
          rel="noopener noreferrer"
          class="p-4 dark:text-light block text-lg group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-linkedin group-hover:stroke-blue transition duration-300"
            ><path
              d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
            ></path><rect x="2" y="9" width="4" height="12"></rect><circle
              cx="4"
              cy="4"
              r="2"></circle>
          </svg>
        </a>
      </li>
      <li>
        <a
          aria-label="Social Media"
          href="https://github.com/ManuelGil"
          target="_blank"
          rel="noopener noreferrer"
          class="p-4 dark:text-light block text-lg group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-github group-hover:stroke-blue transition duration-300"
            ><path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <button
          aria-label="theme-button"
          id="theme-button"
          class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020] group"
        >
        </button>
      </li>
    </ul>
  </nav>
</header>

<script is:inline>
const moon = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon group-hover:stroke-blue transition duration-300"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>`;
const sun = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun group-hover:stroke-blue transition duration-300"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>`;
const themeButton = document.getElementById('theme-button');
const browserTheme = document.querySelector('[name="theme-color"]');
let isDark;
const theme = (() => {
  if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
    return localStorage.getItem('theme');
  }
  if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    return 'dark';
  }
  return 'light';
})();

if (theme === 'light') {
  document.documentElement.setAttribute('data-theme', 'light');
  isDark = true;
  themeButton.innerHTML = moon;
  browserTheme.content = '#FFFFFF';
  document
    .querySelector('.polka-bg')
    .style.setProperty('--bg-color', 'rgb(255, 255, 255)');
} else {
  document.documentElement.setAttribute('data-theme', 'dark');
  isDark = false;
  themeButton.innerHTML = sun;
  browserTheme.content = '#111111';

  document
    .querySelector('.polka-bg')
    .style.setProperty('--bg-color', 'rgb(17, 17, 17)');
}
window.localStorage.setItem('theme', theme);

const darkModeHandler = () => {
  if (isDark) {
    document.documentElement.setAttribute('data-theme', 'dark');
    localStorage.theme = 'dark';
    isDark = false;
    themeButton.innerHTML = sun;
    browserTheme.content = '#111111';
    document
      .querySelector('.polka-bg')
      .style.setProperty('--bg-color', 'rgb(17, 17, 17)');
  } else {
    document.documentElement.setAttribute('data-theme', 'light');
    localStorage.theme = 'light';
    isDark = true;
    themeButton.innerHTML = moon;
    browserTheme.content = '#FFFFFF';
    document
      .querySelector('.polka-bg')
      .style.setProperty('--bg-color', 'rgb(255, 255, 255)');
  }
};

themeButton.addEventListener('click', darkModeHandler);
</script>
