---
import MetaHead from '@components/general/MetaHead.astro';
import ProjectsWrapper from '@components/general/ProjectsWrapper.astro';
import Experience from '@components/home/Experience.astro';
import Hero from '@components/home/Hero.astro';
import { info } from '@data';
import Layout from '@layouts/Layout.astro';

const projects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!doctype html>
<html lang="es">
  <head>
    <MetaHead
      title="Portafolio"
      description="Soy Manuel Gil, un desarrollador de software, creador de contenidos y un apasionado por el OpenSource. Me especializo en tecnologías como TypeScript, Java y PHP, entre otros."
    />
  </head>

  <body>
    <Layout>
      <Hero />
      <Experience title={'EXPERIENCIA'} details={info.experience} />
      <Experience title={'EDUCACIÓN'} details={info.education} />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">PROYECTOS</h2>
        <ProjectsWrapper projects={projects} />
      </section>
    </Layout>
  </body>
</html>
