---
import { info } from "@data";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const Projects = info.projects.map((project) => project);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Proyectos"}
      description={"Todos mis proyectos están disponibles en esta pagina."}
    />
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2;">Proyectos</h1>
      <ProjectsWrapper projects={Projects} />
    </Layout>
  </body>
</html>
