<section>
  <p class="dark:text-light mt-[117px]">👋 ¡Hola! Soy</p>
  <h1>Manuel Gil</h1>
  <p class="dark:text-light text-lg mb-4">
    Soy un desarrollador de software con 8 años de experiencia en diversas
    tecnologías, tales como TypeScript, Angular, Nestjs, Go, Java y PHP. Soy
    apasionado del desarrollo de software y me interesa especialmente el enfoque
    en el código abierto.
  </p>
  <p class="dark:text-light text-lg mb-4">
    Me considero una persona empírica, creativa y curiosa. Me apasiona explorar
    múltiples opciones para un proyecto específico. Como profesional, mi
    objetivo es seguir creciendo como desarrollador y contribuir al desarrollo
    de soluciones tecnológicas que tengan un impacto positivo en la vida de las
    personas.
  </p>
  <p class="dark:text-light text-lg mb-16">
    Si deseas saber más sobre mi experiencia y habilidades, conéctate conmigo en
    <a
      class="text-blue hover:underline"
      href="https://www.linkedin.com/in/imgildev/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >.
  </p>
</section>
