<section class="h-[80vh] flex flex-col justify-center">
  <p class="dark:text-light">游녦 춰Hola! Soy</p>
  <h1
    class="text-6xl sm:text-8xl bg-gradient-to-r font-bold bg-clip-text from-[#9845e8] via-[#33d2ff] my-8 to-[#dd5789] text-transparent"
  >
    Manuel Gil
  </h1>
  <p class="dark:text-light text-lg mb-4">
    Soy un apasionado desarrollador con 8 a침os de experiencia en diversas
    tecnolog칤as, como TypeScript, Angular, Nestjs, Go, Java y PHP. Me encanta
    explorar m칰ltiples opciones para un proyecto espec칤fico y creo en la
    importancia del c칩digo abierto.
  </p>
  <p class="dark:text-light text-lg mb-4">
    Soy creativo, curioso y me encanta explorar m칰ltiples opciones para un
    proyecto. Mi objetivo es seguir creciendo como profesional y desarrollar
    soluciones tecnol칩gicas que tengan un impacto positivo en la vida de las
    personas.
  </p>
  <p class="dark:text-light text-lg mb-16">
    Si deseas conocer m치s sobre mis habilidades y experiencia, te invito a
    conectar conmigo en
    <a
      class="text-violet-600 hover:underline dark:text-blue"
      href="https://www.linkedin.com/in/imgildev/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >.
  </p>
</section>
