<section>
  <p class="dark:text-light mt-[117px]">游녦 춰Hola! Soy</p>
  <h1>Manuel Gil</h1>
  <p class="dark:text-light text-lg mb-16">
    Soy un desarrollador de software con 8 a침os de experiencia especializado en
    TypeScript, Angular, Nestjs, Java y PHP. Soy emp칤rico, creativo y curioso,
    lo que me lleva a explorar diferentes opciones para cada proyecto y
    encontrar soluciones efectivas. Me apasiona el desarrollo de software y el
    c칩digo abierto. Siempre busco oportunidades para mejorar mis habilidades y
    mantenerme actualizado con las 칰ltimas tecnolog칤as y metodolog칤as. Mi
    objetivo profesional es seguir creciendo como desarrollador y contribuir al
    desarrollo de soluciones tecnol칩gicas innovadoras que mejoren la vida de las
    personas. Si deseas conocer m치s sobre m칤, cont치ctame en LinkedIn.
  </p>
</section>
