<section class="h-[80vh] flex flex-col justify-center">
  <p class="dark:text-light">👋 ¡Hola! Soy</p>
  <h1
    class="text-6xl sm:text-8xl bg-gradient-to-r font-bold bg-clip-text from-[#9845e8] via-[#33d2ff] my-8 to-[#dd5789] text-transparent"
  >
    Manuel Gil
  </h1>
  <p class="dark:text-light text-lg mb-4">
    Un desarrollador de software, creador de contenidos y un apasionado por el
    OpenSource. Me especializo en tecnologías como TypeScript, Java y PHP, entre
    otros.
  </p>
  <p class="dark:text-light text-lg mb-4">
    Durante mi carrera, he encontrado en el open source una forma de compartir
    conocimientos, colaborar con otros desarrolladores para mejorar la calidad
    de las soluciones que construimos e impulsar el crecimiento en
    latinoamérica.
  </p>
  <p class="dark:text-light text-lg mb-16">
    Si deseas conocer más sobre mis habilidades y experiencia, te invito a
    conectar conmigo en
    <a
      class="text-violet-600 hover:underline dark:text-blue"
      href="https://www.linkedin.com/in/imgildev/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >.
  </p>
</section>
